dask==2024.8.0
DateTime==5.5
ipykernel==6.29.5
logger==1.4
matplotlib==3.9.4
numpy==1.26.4
pandas==2.2.3
scikit-image==0.24.0
scikit-learn==1.6.1
swifter==1.4.0
tf-keras==2.15.0
tfrecord==1.14.5
thop==0.1.1.post2209072238
torch==2.6.0
torch-optimizer==0.3.0
torch-summary==1.4.5
torch-tb-profiler==0.4.3
torchaudio==2.6.0
torchinfo==1.8.0
torchmetrics==1.6.1
torchsummary==1.5.1
torchtext==0.18.0
torchvision==0.19.1
tqdm==4.67.1
